html, body {
  margin: 0;
  font-family: 'Montserrat';
  color: #7d531b;
  overflow: hidden; }

.wrapper {
  position: relative;
  background: 'rgba(237, 202, 165, 0.82)'; }

section {
  display: grid;
  grid-template-columns: repeat(10, auto); }
  section div {
    background-color: white;
    height: 100vh;
    transition: background-color 1s; }

.main-container {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  top: 20%;
  opacity: 0;
  z-index: 1; }

.content-container {
  height: 100%;
  margin: 0em 0em 4em 0em;
  opacity: 1;
  flex-grow: 1;
  overflow-y: scroll; }
  .content-container .about {
    display: none;
    opacity: 0;
    font-size: 18px;
    padding: 0em 1em; }
  .content-container .projects {
    display: none;
    opacity: 0; }
    .content-container .projects__filter {
      text-align: center;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-around; }
    .content-container .projects__list {
      margin: 5% 0%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between; }
    .content-container .projects__list__item {
      padding: 5%;
      background: #faf5f0;
      font-size: 14px;
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      place-items: center;
      opacity: 1;
      transition: opacity 0.3s linear; }
      .content-container .projects__list__item ul {
        display: flex;
        align-items: space-between;
        list-style-type: none; }
      .content-container .projects__list__item a {
        padding: 5px;
        text-decoration: none;
        color: #b02c2c;
        transition: color 0.3s linear; }
        .content-container .projects__list__item a:hover {
          color: #fb6666;
          cursor: pointer; }
      .content-container .projects__list__item span {
        font-size: 16px; }
    .content-container .projects__list__item:nth-child(odd) {
      background: #f0ead6; }
  .content-container .project_info {
    height: 100%;
    width: 70%;
    font-size: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between; }
    .content-container .project_info h3 {
      margin: 0; }
    .content-container .project_info .project_description {
      text-align: left; }
    .content-container .project_info .project_tech {
      width: 100%;
      margin-top: 20%;
      align-self: start; }
    .content-container .project_info .project_tech__list {
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      padding: 0;
      margin: 0; }
      .content-container .project_info .project_tech__list__item {
        padding: 5px 10px;
        text-align: center;
        background: rgba(237, 202, 165, 0.82);
        border-radius: 5px; }
  .content-container .project_demo {
    width: 400px;
    height: 400px;
    border-radius: 5px; }
    .content-container .project_demo.project_demo--lb {
      background: url(../assets/pics/la_bodega_cart.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: background 0.3s ease; }
      .content-container .project_demo.project_demo--lb:hover {
        background: url(../assets/pics/la_bodega.gif);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
    .content-container .project_demo.project_demo--daimon {
      background: url(../assets/pics/daimon_landing.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: background 0.3s ease; }
      .content-container .project_demo.project_demo--daimon:hover {
        background: url(../assets/pics/daimon.gif);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
    .content-container .project_demo.project_demo--gf {
      background: url(../assets/pics/genrefluid.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: background 0.3s ease; }
      .content-container .project_demo.project_demo--gf:hover {
        background: url(../assets/pics/genrefluid.gif);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
    .content-container .project_demo.project_demo--steno {
      background: url(../assets/pics/stenographer_main.png);
      background-position: 3%;
      background-size: cover;
      background-repeat: no-repeat;
      background-blend-mode: screen; }
    .content-container .project_demo.project_demo--map {
      background: url(../assets/pics/leeMap2.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .content-container .project_demo.project_demo--winter {
      background: url(../assets/pics/WS.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .content-container .project_demo.project_demo--shakespeare {
      background: url(../assets/pics/shakespeare.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }

.footer {
  display: grid;
  grid-template-columns: 5fr 1fr;
  position: absolute;
  opacity: 0;
  left: 0;
  bottom: 20%;
  background: #d6a573;
  width: 100%;
  height: 8%;
  z-index: 2; }
  .footer a {
    text-decoration: none;
    color: #b02c2c; }
    .footer a :hover {
      color: #d52020; }
  .footer__contact {
    place-self: center start;
    padding-left: 5%; }
  .footer__social {
    padding: 5%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-around;
    color: #7d531b; }
    .footer__social span {
      font-size: 18px; }

#name {
  position: relative;
  margin: 0.2em 0em 0.2em;
  left: 10%;
  font-size: 5em;
  font-weight: bold;
  z-index: 2; }

.links {
  width: 40%;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr 1fr 5fr;
  align-self: center;
  place-items: center; }
  .links a {
    text-decoration: none;
    color: #7d531b;
    font-size: 20px;
    padding: 10px 0px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease; }
    .links a:hover {
      color: #b02c2c;
      border-bottom: 2px solid #b02c2c; }

/*# sourceMappingURL=main.css.map */
