body {
  margin: 0;
  font-family: 'Montserrat';
  color: rgb(125, 83, 27);
  overflow: hidden;
}
  section {
  display: grid;
  grid-template-columns: repeat(10, auto);

  div {
    background-color: white;
    height: 100vh;
    transition: background-color 1s;
  }
}


.main-container {
  margin: 0;
  position: absolute;
  height: 100%;
  margin-bottom: 1000px;
  width: 100vw;
  display: flex;
  flex-flow: column;
  top: 20%;
  opacity: 0;
  z-index: 1;
}

.content-container {
  margin: 2em 1em 5em 1em;
  padding: 1em 2em;
  background: 'rgba(237, 202, 165, 0.82)';
  border: 4px solid rgb(125, 83, 27);
  opacity: 1;
  flex-grow: 1;
  overflow-y: scroll;

  .about {
    display: none;
    opacity: 0;
    font-size: 18px;
  }

  .projects {
    width: 100%;
    display: none;
    opacity: 0;
    &__list {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      place-items: center;
    }

    &__list > div {
      background: rgb(244, 214, 184);
      width: 100%;
      place-items: center;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;

      a {
        text-decoration: none;
        color: rgb(176, 44, 44);
      }
      span {
        font-size: 16px;
      }
    }
  }

  .project_demo {
    max-width: 300px;
    max-height: 400px;
  }

}

.footer {
  position: fixed;
  opacity: 0;
  z-index: 2;
  background: rgb(214, 165, 115);
  left: 0;
  bottom: 20%;
  width: 100%;
  height: 8vh;
  display: grid;
  grid-template-columns: 5fr 1fr;
  a {
    text-decoration: none;
    color: rgb(176, 44, 44);
  }
  &__contact {
    place-self: center start;
    padding: 30px;
  }
  &__social {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
    color: rgb(125, 83, 27);
    span {
      font-size: 17px;
    }
  }
}

#name {
  position: relative;
  margin: 0.5em 0em 0.2em;
  left: 10%;
  font-size: 5em;
  font-weight: bold;
  z-index: 2;

}

.links {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  place-items: center;
  a {
    text-decoration: none;
    color: rgb(125, 83, 27);
    font-size: 20px;
    padding: 10px 0px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease;

    &:hover {
      color: rgb(176, 44, 44);
      border-bottom: 2px solid rgb(176, 44, 44);
    }
  }
}
