html, body {
  margin: 0;
  font-family: 'Montserrat';
  color: rgb(125, 83, 27);
  overflow: hidden;

}
  .wrapper {
    position: relative;
    // background: 'rgba(237, 202, 165, 0.82)';
  }

  section {
  display: grid;
  grid-template-columns: repeat(10, auto);

  div {
    background-color: white;
    height: 100vh;
    transition: background-color 1s;
  }
}


.main-container {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column;
  top: 20%;
  opacity: 0;
  z-index: 1;

  background-image: url(../assets/background/cherryCola.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.content-container {
  height: 100%;
  margin: 0em 0em 4em 0em;
  opacity: 1;
  flex-grow: 1;
  overflow-y: scroll;


  .about {
    display: none;
    opacity: 0;
    font-size: 1.1em;
    padding: 0.7em 2em;
    margin: 1em 2em;
    background: rgba(240, 234, 214, 0.8);
    border-radius: 15px;

    h4 {
      text-align: center;
    }

    > * {
      margin: 2em 0;
    }
  }

  .projects {
    display: none;
    opacity: 0;

    &__filter {
      text-align: center;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-around;
    }

    &__list {
      margin: 5% 0%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
    }

    &__list__item {
      padding: 5%;
      background: rgba(250, 245, 240, 0.8);
      font-size: 14px;
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      place-items: center;
      opacity: 1;
      transition: opacity 0.3s linear;

      ul {
        display: flex;
        align-items: space-between;
        list-style-type: none;
      }

      a {
        padding: 5px;
        text-decoration: none;
        color: rgb(176, 44, 44);
        transition: color 0.3s linear;
        &:hover {
          color: rgb(251, 102, 102);
          cursor: pointer;
        }
      }
      span {
        font-size: 16px;
      }
    }

    &__list__item:nth-child(odd) {
      background: rgba(240, 234, 214, 0.8);
    }


  }

  .project_info {
    height: 100%;
    width: 70%;
    font-size: 1.3em;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin: 0;
    }

    .project_description {
      text-align: left;
    }

    .project_tech {
      width: 100%;
      margin-top: 20%;
      align-self: start;
    }

    .project_tech__list {
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      padding: 0;
      margin: 0;

      &__item {
        padding: 5px 10px;
        text-align: center;
        background: rgba(237, 202, 165, 0.82);
        border-radius: 5px;
      }
    }
  }

  .project_demo {
    width: 400px;
    height: 400px;
    border-radius: 15px;

    &.project_demo--lb {
      background: url(../assets/pics/la_bodega_cart.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: background 0.3s ease;
      &:hover {
        background: url(../assets/pics/la_bodega.gif);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &.project_demo--daimon {
      background: url(../assets/pics/daimon_landing.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: background 0.3s ease;
      &:hover {
        background: url(../assets/pics/daimon.gif);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &.project_demo--gf {
      background: url(../assets/pics/genrefluid.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: background 0.3s ease;
      &:hover {
        background: url(../assets/pics/genrefluid.gif);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &.project_demo--steno {
      background: url(../assets/pics/stenographer_main.png);
      background-position: 3%;
      background-size: cover;
      background-repeat: no-repeat;
      background-blend-mode: screen;
    }

    &.project_demo--map {
      background: url(../assets/pics/leeMap2.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.project_demo--winter {
      background: url(../assets/pics/WS.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.project_demo--shakespeare {
      background: url(../assets/pics/shakespeare.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

}

.footer {
  display: grid;
  grid-template-columns: 5fr 1fr;
  position: absolute;
  opacity: 0;
  left: 0;
  bottom: 20%;
  background: rgb(214, 165, 115);
  width: 100%;
  height: 8%;
  z-index: 2;
  a {
    text-decoration: none;
    color: rgb(176, 44, 44);
    :hover {
      color: rgb(213, 32, 32);
    }
  }
  &__contact {
    place-self: center start;
    padding-left: 5%;
  }
  &__social {
    padding: 5%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-around;
    color: rgb(125, 83, 27);
    span {
      font-size: 18px;
    }
  }
}

#name {
  position: relative;
  margin: 0.2em 0em 0.2em;
  align-self: center;
  font-size: 4em;
  font-weight: bold;
  color: rgba(176, 44, 44, 0.9);
  text-shadow: 2px 2px rgba(125, 83, 27, 0.8);
  // background: rgba(214, 165, 115, 0.8);
  padding: 0 0.2em;
  width: fit-content;
}

.links {
  width: fit-content;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr 1fr 5fr;
  align-self: center;
  place-items: center;
  a {
    text-decoration: none;
    color: rgb(125, 83, 27);
    font-size: 1.4em;
    padding: 5px 0px;
    margin: 0px 15px;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.1, 1.1);
      text-shadow: 1px 1px rgba(125, 83, 27, 0.8);
      color: rgba(176, 44, 44, 0.7);
      border-bottom: 2px solid rgba(176, 44, 44, 0.4);
    }
  }

}
