html, body {
  margin: 0;
  font-family: 'Montserrat';
  color: #7d531b;
  overflow: hidden; }

.wrapper {
  position: relative;
  background: 'rgba(237, 202, 165, 0.82)'; }

section {
  display: grid;
  grid-template-columns: repeat(10, auto); }
  section div {
    background-color: white;
    height: 100vh;
    transition: background-color 1s; }

.main-container {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  top: 20%;
  opacity: 0;
  z-index: 1; }

.content-container {
  height: 100%;
  margin: 2em 0em 4em 0em;
  padding: 1em 0em;
  opacity: 1;
  flex-grow: 1;
  overflow-y: scroll; }
  .content-container .about {
    display: none;
    opacity: 0;
    font-size: 18px;
    padding: 0em 1em; }
  .content-container .projects {
    display: none;
    opacity: 0; }
    .content-container .projects__filter {
      text-align: center;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-around; }
    .content-container .projects__list {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between; }
    .content-container .projects__list__item {
      background: #faf5f0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      overflow: hidden;
      opacity: 0.5;
      transition: opacity 0.3s linear; }
      .content-container .projects__list__item a {
        padding: 5px;
        text-decoration: none;
        color: #b02c2c; }
      .content-container .projects__list__item span {
        font-size: 16px; }
    .content-container .projects__list__item:hover {
      opacity: 1; }
  .content-container .project_info {
    display: block;
    font-size: 30px;
    text-align: center; }
  .content-container .project_demo {
    width: 300px;
    height: 370px;
    object-fit: scale-down; }
    .content-container .project_demo--shakespeare, .content-container .project_demo--map {
      width: 400px;
      height: 400px; }

.footer {
  display: grid;
  grid-template-columns: 5fr 1fr;
  position: absolute;
  opacity: 0;
  left: 0;
  bottom: 20%;
  background: #d6a573;
  width: 100%;
  height: 8%;
  z-index: 2; }
  .footer a {
    text-decoration: none;
    color: #b02c2c; }
    .footer a :hover {
      color: #d52020; }
  .footer__contact {
    place-self: center start;
    padding-left: 5%; }
  .footer__social {
    padding: 5%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-around;
    color: #7d531b; }
    .footer__social span {
      font-size: 18px; }

#name {
  position: relative;
  margin: 0.5em 0em 0.2em;
  left: 10%;
  font-size: 5em;
  font-weight: bold;
  z-index: 2; }

.links {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  place-items: center;
  border: 2px solid #7d531b;
  border-radius: 10px; }
  .links a {
    text-decoration: none;
    color: #7d531b;
    font-size: 20px;
    padding: 10px 0px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease; }
    .links a:hover {
      color: #b02c2c;
      border-bottom: 2px solid #b02c2c; }

/*# sourceMappingURL=main.css.map */
